:root {
  font-family: "BunnyJay";
}

/* 修正手機(直向)因隱藏網址列導致`vh`錯誤問題 */
@media (max-width: 575.98px) {
  :root {
    --app-height: 100%;
  }

  html,
  body {
    overflow: scroll;
    height: var(--app-height);
  }
}
