@import "style/font";

// 響應式元素
.responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

// 自動隱藏滑條
.auto-hide-scrollbar {
  color: transparent;
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    width: 18px;
    border-radius: 18px;
    background-clip: padding-box;
    border: 6px solid transparent;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
  }

  &:hover {
    color: azure;
  }
}

// 過度群組
.fade-group {
  .fade-item {
    transition: all 1s ease;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }

  .fade-leave-active {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
